*{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    overflow: hidden;
    text-align:start;
}

body {
    background-color:black;
}

#card {
    margin: 0 auto;
    margin-top:20vh;
    background-color:white;
    width:85vw;
    padding: 2em;
    border-radius: 2em;
    width: fit-content;
}

h1{
    color:grey;
    
}

#flex-container{
    display: flex;
    margin-left:3em;

}

#principal{
    width: 11em;
}

#year{
    width: 2.5em;
}

label{
    display: block;
    padding: 0.7em;
}

input{
    margin: 0.82em;
}

button{
    margin:0.8em 0;
    margin-left:4.5em;
}

#description{
    margin-top: -1em;
    margin-left:3.7em;
}

.ye{
    background-color: yellow;
}

footer {
    margin-top:1.5em;
}